.add-service form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input, textarea{
    width: 40%;
    margin-bottom: 10px;
}

button[type="submit"], input[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
}